<h1>Welcome to Document Central</h1>


<div class='row' *ngIf="list.length > 0">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class='panel-heading'>Document List</div>
    <div class='panel-body'>
      <table class="table table-bordered">
        <thead>
          <th>Id</th>
          <th>Institution</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.id}}</td>
            <td>{{item.institution}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
